div.container{background:white;padding:5px;}
body{background-color:#e5ebee;padding-top:15px;background-image:url(../images/background.png);}
div.video{border:1px dashed #DADADA;padding:40px;height:258px;background:#ffffff url(../images/video-faded.jpg) no-repeat center center;}
div.profile{padding:20px;color:#808080;}div.profile h3{font-weight:200;font-size:1.6em;margin:0px;}
div.profile img.profile-pic{margin-right:10px;float:left;}
div.highlight{margin:10px -10px 30px;background:#585858;color:white;padding:20px;}
div.content{margin:20px;}
h1{font-family:"Exo",Arial,sans-serif;font-weight:200;font-size:24px;color:#b0b0b0;margin:0px 0px 0px 0px;}
a.add{float:right;margin-top:-4px;font-size:90%;display:block;font-weight:bold;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;color:#3b3b3b;text-decoration:none;}
a.add:hover{color:#0084af;}
.reveal-modal-bg{background-color:#000;}
.reveal-modal{padding:20px;}.reveal-modal .close-reveal-modal{top:15px;right:15px;}
